/* src/styles/Header.scss */

.header {
  --af-header-background-color: #d99322;
  --af-header-color: #b92222;
  --af-header-border-color: transparent;
  --af-header-height: 60px;

  display: block;
  font-family: system-ui, sans-serif;
}

/* Logotyp */
a[slot="header-logo"] {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--af-header-color);
}

.brand__img {
  height: 40px;
  width: auto;
}

.brand__name {
  font-weight: 600;
  font-size: 1.25rem;
}

/* Navigation styling */
digi-header::part(system-name) {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

digi-header-navigation a {
  color: var(--af-header-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
