.selected-filters {
  margin: 1rem 0rem;
  text-align: center;

  .reset-filter-btn {
    border: none;
    width: 18px;
    height: 18px;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 900;
    line-height: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(146, 6, 6);
    }
  }
}
